# Coding Temple's Data Analytics Course
---
## Python I: Variable Assignment, Loops, Lists
---

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
number = 6 # This is how you assign a variable to an integer 
print(number)

6

##### Assinging float

NameError: name 'names' is not defined

In [6]:
number_float = 2.3 # This hopw you assign a variable to a float
print(number_float)
number_float = 2.5
print(number_float) # This is a completely separate object than the first, even though the variable has been overwritten

2.3
2.5

In [2]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']

my_list = []

for name in names:
    my_list.append(name.title()).strip()

print(my_list)

AttributeError: 'NoneType' object has no attribute 'strip'

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
HINT: You will need to use a for loop for iteration

#### Performing Calculations on ints and floats

##### Addition

In [8]:
# One way to go about this
num1 = 2
num2 = 5.4
results = num1 + num2
print(results)
# Another way: Also known as the Pythonic Way
results += 2
# Plus equal overwrites the value of the hand input with whatever calculation was performed
print(results)

7.4
9.4

##### Subtraction

In [11]:
# Subtraction uses the (-) mathematical operand
result_diff = num2 - num1
print(result_diff)

# Another pythonic method:
result_diff -= 1 # results = results - 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [12]:
result_mul = num1 * num2
print(result_mul)
# Python Method:
result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [13]:
results_div = num2/num1
print(results_div)
# Pythonic Method
results_div /= 2
print(results_div)

2.7
1.35

##### Floor Division

In [ ]:
result_floor = num2//num1
print(result_floor)
# Pythonic Version
result_floor //= 2
print(result_floor)

##### Modulo

In [15]:
rs = num2 % num1
print(rs)

1.4000000000000004

##### Exponential

In [16]:
square = 5**2
square_root = square **(1/2)
print(square)
print(square_root)

25
5.0

### String Input-Output

##### String Assignment

In [19]:
name = 'Joel'
print(name) # When something asks you to return a value, print does not return anything

Joel

##### print() <br>
<p>Don't forget about end=' '</p>

In [22]:
# Formattted string: Basically takes in code and prints it as a sting value:
print(f' The number of students sqaured in our class is: {9**2}')

# Print also works with variables:
print("This is my first name:", name)

# Print also has an end argument
print('Full Name:', name, end = ' Carter')

 The number of students sqaured in our class is: 81
This is my first name: Joel
Full Name: Joel Carter

##### String Concatenation

In [25]:
# Concatenate means to bring the strings together
first_name = 'John'
last_name = 'Smith'

full_name = first_name + " " + last_name
print(full_name)

# Short hand version of string concat is:
full_name += ' Jr.'
print(full_name)

John Smith
John Smith Jr.

##### Type Conversion

In [26]:
number = '32'

change_type_number = int(number)

print(number)
print(change_type_number)
print(type(number))
print(type(change_type_number))

32
32
<class 'str'>
<class 'int'>

##### input()

In [1]:
# Input will always return a string type of object -- ALL THE TIME
#  variable_name = input('Whatever you want to ask the user)
# Let's create an age input:
age = int(input("What is your age again?:")) 

add_age = age + 1 # The previous had to be converted to an integer since I was looking to add a 1 here
print(add_age)

##### format()

In [2]:
age = input("What is your age again?")
resulting_string = "You are {} {} and you are getting wiser!".format(age, name)
resulting_f_string = 'You are {age} {name} and your are getting wiser!' # This will produce the same results, just your preference

print(resulting_string)
print(resulting_f_string)

##### Old Way (python 2)

In [1]:
resulting_py_string = 'You are %s and your look great for your age!' %age
print(resulting_py_string)

NameError: name 'age' is not defined

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [3]:
# Uses input function to ask for color, year, make, and model of vehicle.
# Then, you will use a .format() or f-string to print those values back to your user.
color = input("What is your car's color?: " )
year = input("what the year of your car?: ")
make = input("What is the make of your car?: ")
model = input("What is the model of your car?: ")
results = f' Your vehicle is a {color} {year} {make} {model}. '
print(results)

 Your vehicle is a Black 2019 Chevy Equinox.

### If Statements

In [4]:
# Always equate out to a boolean value. When true, we trigger the conditional and do something. When false, we do something else!

# The available operators for these are your >, <, =

# The Truth tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

# Let's look at an example:
num1 = 5
num2 = 10
if num2 == num1:
    print("Equal value")
elif num2 < num1:
    print("Num2 is less than num 1")
else:
    print("Num1 is less than num 2")

Num1 is less than num 2

##### 'is' keyword

In [ ]:
num3 = 55

# IS keyword is used when checking for a similar or the same object, NOT the same value
if num3 is 55:
    print("This is the exact number/object")

##### 'in' keyword

In [ ]:
# Checks to see if something is inside of an object
char_name = 'Max Payne'

if 'Max' in char_name: #NOT in function is the same as the IN function
    print("The character that lost everything is ...")

##### 'not in' keyword'

In [5]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("a is not in here")

a is not in here

# In-Class Exercise 2 <br>
<p>Ask a user for input, check to see if the letter 'p' is in the input</p>

In [12]:
ask_user = input("What is your favorite color?: ").lower()

if 'p' in ask_user:
    print("'p' is in the input.")
else:
    print("'p' is not in the unput.")

'p' is in the input.

## Using 'and'/'or' with If Statements

In [ ]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3
# IFF statement with an "and" statement
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and true")
# The and keyword is interchangable with an amperstand
if num_11 / 5 == num_12 & num_13 - 7 == num_14:
    print("True and true")
# If statement useing the "or" keyword
if num_11 / 5 > num_12 or num_13 == num_14:

### Elif Statements

In [ ]:
fisrt_name = 'Max'

if first_name == 'Smith':
    print("Your name is Smith")
elif first_name != 'Max':
    print("This name is NOT Max")
else:
    print("The name IS Max")

### Else Statements

In [ ]:
fisrt_name = 'Max'

if first_name == 'Smith':
    print("Your name is Smith")
elif first_name != 'Max':
    print("This name is NOT Max")
else:
    print("The name IS Max")

### For Loops

In [15]:
# A For look allows access to the values inside of a data collection. as long as the collection is interable, meaning they are accessible!
# The layout for a FOR look looks like:
    # for keyword in object:
        # Do somethnig

name = 'Joel Carter'

for letter in name:
    print(letter)

# We can also use for loops to access the index position of an object
for index in range(len(name)-1):
    print(name[index] + name[index + 1])

J
o
e
l

C
a
r
t
e
r
Jo
oe
el
l
 C
Ca
ar
rt
te
er

##### Continue Statement

In [ ]:
for i in range(20):
    if i == 5:
        continue
    print(i)

##### Break Statement

##### Pass Statement

##### Double For Loops

### While Loops

##### Looping 'While True'

##### While & For Loops Used Together

### Built-In Functions

##### range()

##### len()

##### help()

##### isinstance()

##### abs()

### Try and Except

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists